<!-- Jumbotron -->

<div class="jumbotron">
	<div class="container text-center text-white">
		<h1 class="display-3">Bienvenue <%= params[:user_entry] %> !</h1>
  		<p class="lead">Ici c'est notre super site de potins, il est chouette, non ?</p>
	</div>
</div>

<!-- Section -->

<!-- Si un potin vient d'être créé -->

<%= flash[:danger] %>
<%= flash[:success] %>

<!-- Page d'accueil -->

<p>Voici la liste des auteurs de potins :</p>
<div class="card-deck">
  <% Gossip.all.each do |gossip| %>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre : <%= gossip.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Prénom de l'auteur : <%= gossip.user.first_name %></h6>
          <p class="card-text">Gossip n°<%= gossip.id %></p>
          <%= link_to "Consulter", gossip_path(gossip.id) %>
          <% if current_user && gossip.user == current_user %>
          <%= link_to "Modifier le gossip", edit_gossip_path(gossip.id) %>
          <%= link_to "Supprimer", gossip_path(gossip.id), method: "delete", :data => {:confirm => 'Êtes-vous sûr ?'}, class: "btn btn-danger" %> 
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
