<h1>Voici le Gossip n°<%= params[:id] %> ! </h1>

<p>Auteur : <%= Gossip.find(params[:id]).user.first_name %> (Son lien <%= link_to "ici", author_path(Gossip.find(params[:id]).user.id) %>)</p>
<p>Titre : <%= Gossip.find(params[:id]).title %></p>
<p>Contenu : <%= Gossip.find(params[:id]).content %></p>
<p>Date de création : <%= Gossip.find(params[:id]).created_at %></p>