<!-- Jumbotron -->

<div class="jumbotron">
	<div class="container text-center text-white">
		<h1 class="display-3">Bienvenue <%= params[:user_entry] %> !</h1>
  		<p class="lead">Ici c'est notre super site de potins, il est chouette, non ?</p>
	</div>
</div>

<!-- Section -->

<!-- Si un potin vient d'être crée -->

<% if @gossip != nil %>
  <p>Gossip enregistré :)</p>
<% end %>

<!-- Page d'accueil -->

<p>Voici la liste des auteurs de potins :</p>
<div class="card-deck">
  <% @gossips.all.each do |gossip| %>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Titre : <%= gossip.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Prénom de l'auteur : <%= gossip.user.first_name %></h6>
          <p class="card-text">Gossip n°<%= gossip.id %></p>
          <%= link_to "Consulter", gossip_path(gossip.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
